<p id="notice"><%= notice %></p>

<h1>Your Item Options Are:</h1>

<table>

  <thead>
  <tr>
  <th class = iheader>Name</th>
  <th class = iheader>Price</th>
  <th class = iheader>Description</th>
  <th class = iheader>Category Id</th>
  <th colspan="3"></th>
</tr>
</thead>
<tbody>
  <% @item.each do |item| %>
  <tr>
    <td class = icount><%= item.name %></td>
    <td class = icount><%= item.price %></td>
    <td class = icount><%= item.description %></td>
    <td class = icount><%= item.category_id %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</tbody>
</table>
