<!DOCTYPE html>
<html>
<head>
  <title>MenuApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><h2> Today you have the option of eating: <%= session[:item] %></h2></p>
<%= yield %>

</body>
</html>
